* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bolder;
}

h4,
h5 {
  font-weight: bold;
}

.navbar {
  background-color: #0047ab;
}

.card-header {
  background-color: #1a708d;
}

.card-body {
  background-color: rgba(0, 71, 171, 0.05);
}
